@font-face {
    font-family: 'Friz Quadrata';
    src: url('fonts/fritzquadratacyrillic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('images/playerPoint.png'), auto;
    background-color: rgb(20, 20, 20);
    font-family: 'Friz Quadrata';
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    cursor: url('images/playerPoint.png'), auto;
}

ul.hidden, #copy-notification.hidden {
    display: none;
}

#context-menu {
    position: absolute;
    background-color: rgba(225, 225, 225, 0.9);
    list-style: none;
    padding: 5px 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
    z-index: 1000;
}

#context-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

#context-menu li:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

#copy-notification {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

#slider-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(225, 225, 225, 0.8);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 150px;
}

#opacity-slider {
    width: 10px;
    writing-mode: bt-lr; /* Вертикальный режим написания для горизонтального ползунка */
    -webkit-appearance: slider-vertical; /* Аппирации верт. в старых WebKit, если поддерживается */
    outline: none;
    background: transparent;
    cursor: pointer;
}