@font-face {
    font-family: 'Friz Quadrata';
    src: url('fonts/fritzquadratacyrillic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    font-family: 'Friz Quadrata';
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
}

.witcher-style-text {
    font-family: 'Cinzel', serif; /* Шрифт из Google Fonts */
    color: #e0d8c3; /* Цвет в стилистике старинной бумаги или пергамента */
    letter-spacing: 1px; /* Легкий интервал между буквами для придания древности */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Тень для объемности */
    font-size: 14px; /* Базовый размер шрифта можно изменить под нужды */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    flex-direction: column; /* Разместите элементы в колонку */
    align-items: center; /* Центрируйте горизонтально */
    justify-content: center; /* Центрируйте вертикально */
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: #7c2222;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-text {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px; /* Задайте верхний отступ для создания пространства между анимацией и текстом */
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


ul.hidden, #copy-notification.hidden {
    display: none;
}

.context-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    z-index: 1000;
}

.context-menu.hidden {
    display: none;
}

.context-menu button {
    display: block;
    width: 100%;
    margin: 2px 0;
    text-align: left;
    position: relative; /* Для позиционирования псевдоэлемента */
    overflow: hidden; /* Чтобы скрыть псевдоэлемент снаружи кнопки */
    color: #f5f5f5;
    padding: 10px 15px;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s; /* Плавный переход для эффекта трансформации */

    /* Настройки для кнопки в покое, добавьте здесь любой базовый цвет */
    background-color: transparent;
}

.context-menu button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0.48turn, #333 30%, #2b2b2b 80%, #7c2222);
    transition: opacity 0.3s; /* Плавный переход прозрачности */
    opacity: 1; /* Полностью видно по умолчанию */
    z-index: -1; /* Чтобы градиент располагался под текстом */
}

.context-menu button:hover::before {
    opacity: 0.7; /* Изменение прозрачности для эффекта наведения */
}

.context-menu button:hover {
    transform: scale(1.05); /* Легкая трансформация при наведении */
}


.marker-form {
    position: absolute;
    background: linear-gradient(0.48turn, #333 30%, #2b2b2b 80%, #7c2222);
    border: 1px solid #222;
    padding: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 10000; /* Установите высокое значение z-index, чтобы элемент отображался поверх других */
}

/* Стили для текстового поля input */
input[type="text"].witcher-style-text {
    background-color: #2b2b2b; /* Темный фон, напоминающий мрачную атмосферу игры */
    color: #e0d8c3; /* Цвет текста, схожий с цветом древней бумаги */
    border: 1px solid #444; /* Темная граница для выделения */
    border-radius: 4px; /* Легкие скругления для плавности */
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5); /* Внутренняя тень для глубины */
    transition: border-color 0.3s;
}

input[type="text"].witcher-style-text:focus {
    border-color: #7c2222; /* Цвет границы при фокусе для акцента */
    outline: none;
}

/* Стили для select и option */
select.witcher-style-text {
    background-color: #2b2b2b; /* Темный фон, который сочетается с общими элементами интерфейса */
    color: #e0d8c3; /* Цвет текста как у древней книги */
    border: 1px solid #444; /* Тёмная граница */
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: 'Cinzel', serif; /* Используем шрифт для придания средневекового стиля */
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5); /* Внутренняя тень */
    transition: border-color 0.3s;
}

select.witcher-style-text:focus {
    border-color: #7c2222; /* Цвет границы при фокусе */
    outline: none;
}

option {
    background-color: #2b2b2b; /* Удостоверяйтесь, чтобы опции имели общий стиль */
    color: #e0d8c3; /* Цвет текста опций */
    font-family: 'Cinzel', serif;
}


#copy-notification {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

#slider-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(225, 225, 225, 0.5);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 150px;
}

#opacity-slider {
    width: 10px;
    writing-mode: bt-lr; /* Вертикальный режим написания для горизонтального ползунка */
    -webkit-appearance: slider-vertical; /* Аппирации верт. в старых WebKit, если поддерживается */
    outline: none;
    background: transparent;
    cursor: pointer;
}


.filter-button {
    width: 32px; /* Размер кнопки - совпадает с размером иконки */
    height: 32px;
    border: none;
    background-color: rgba(88, 88, 88, 0.5); /* Серый фон */
    cursor: pointer;
    background-size: cover; /* Масштабирование под размер кнопки */
    transition: background-color 0.2s; /* Для плавного затемнения */
    margin: 5px;
}

.filter-button:hover {
    background-color: rgba(180, 180, 180, 0.7); /* Фон при наведении */
}

.filter-button:active {
    background-color: rgba(150, 150, 150, 0.9); /* Затемнение при нажатии */
}

.filter-button::after {
    content: attr(data-tooltip); /* Текст подсказки из атрибута data-tooltip */
    position: absolute;
    bottom: 100%; /* Размещает tooltip сверху кнопки */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* Предотвращает перенос строки */
    opacity: 0; /* Изначально скрыт */
    pointer-events: none; /* Отключение событий мыши */
    transition: opacity 0.2s; /* Плавная смена видимости */
}

.filter-button:hover::after {
    opacity: 1; /* Показывает tooltip при наведении */
}

.detail-button {
    background-color: #4a4a4a; /* Темно-серый цвет, напоминающий обмундирование */
    color: #f5f5f5; /* Светлый текст для контраста */
    padding: 10px 15px; /* Внутренний отступ для лучшего размера */
    border: 1px solid #2b2b2b; /* Более темный ободок */
    border-radius: 5px; /* Скругленные края */
    font-family: 'Cinzel', serif; /* Шрифт для придания средневекового стиля */
    font-size: 14px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход для эффектов */
}

.detail-button:hover {
    background-color: #3a3d3d; /* Изменение цвета при наведении */
    transform: scale(1.05); /* Легкое увеличение для акцента */
}

.detail-button:active {
    background-color: #2e2e2e; /* Как кнопку держат нажатой */
    transform: scale(0.98); /* Легкое уменьшение для нажатого эффекта */
}


/* Устанавливаем фон для каждой кнопки */
.essence-stone-icon {
    background-image: url('images/iconEssence.png');
}

.alchemist-icon {
    background-image: url('images/iconAlchemist.png');
}

.hunter-icon {
    background-image: url('images/huntIcon.png');
}

.armorMen-icon{
    background-image: url('images/iconArmor.png');
}
.weaponMen-icon{
    background-image: url('images/iconWeapon.png');
}
.boards-icon{
    background-image: url('images/iconBoard.png');
}
.recipes-icon{
    background-image: url('images/iconRecipe.png');
}
.dangerZones-icon{
    background-image: url('images/iconMonsters.png');
}
.caves-icon{
    background-image: url('images/iconCave.png');
}
.granizons-icon{
    background-image: url('images/iconGP.png');
}
.quests-icon{
    background-image: url('images/iconQuestion.png');
}
.traders-icon{
    background-image: url('images/iconTrader.png');
}

/* Добавьте дополнительные стили для других категорий */
